# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
# folder 
test/ export-ignore
# general text files
README.md export-ignore
CHANGELOG.md export-ignore
LICENSE export-ignore
